<%-include('header.ejs')%>


<form action="contactProc" method="post">
   <ul>
      <li>이름 : <input type="text" name="name" id=""></li>
      <li>연락처 : <input type="text" name="phone" id=""></li>
      <li>이메일 : <input type="text" name="email" id=""></li>
      <li>내용 <br><textarea name="memo" id="" cols="30" rows="10"></textarea></li>
      <button>문의하기</button>

   </ul>   
</form>

<%-include('footer.ejs')%>