<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가나다라</title>
    <link rel="stylesheet" href="/style.css">
</head>

<header style="border-bottom:1px solid #ddd;margin-bottom:10px; padding-bottom:10px;">
    <a href="/">로고</a>
    <nav class="nav">
        <a href="/profile">프로11필</a>
        <a href="/map">찾아오시는길</a>
        <a href="/contact">문의하기</a>
        <a href="">메뉴4</a>
        <a href="">메뉴5</a>
    </nav>
</header>

<body>
